.store {
  padding: 120px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__categories {
    display: flex;
    gap: 28px;
  }

  &__category-item {
  }

  &__category-button {
    position: relative;
    font-size: 16px;
    color: $carrot;
    padding-bottom: 10px;
    transition: color 0.5s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(0);
    }

    &_active {
      color: $green;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $green;
        transform: scaleX(1);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &__cart-button {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
  }

  &__cart-cnt {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 22px;
    height: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: $light;
  }

  &__cart-icon {
  }

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__product {
  }
}
