
.subscribe {
  padding: 120px 0;

  @include laptop {
    padding: 100px 0;
  }

  @include mobile {
    padding: 80px 0;
  }

  &__title {
    max-width: 1000px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    color: $green;

    @include laptop {
      font-size: 44px;
      margin-bottom: 32px;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__field {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 732px;
    border: none;
  }

  &__input {
    border: 2px solid $purple;
    border-radius: 40px;
    padding: 14px 30px;
    width: 100%;
    background-color: transparent;
    font-weight: 400;
    font-size: inherit;
    line-height: 1.4;
    color: $green;

    &::placeholder {
      color: $green;
      opacity: 0.4;
    }
  }

  &__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 209px;
    gap: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 14px 30px;
    border: none;
    border-radius: 40px;
    background-color: $purple;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: $light;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    @include mobile {
      padding: 0;
      gap: 0;
      min-width: 54px;
    }

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-image: url('../img/arrow-up.svg');
    }

    &:hover {
      background-color: darken($purple, 10%);
    }
  }

  &__button-text {
    @include mobile {
      font-size: 0;
    }
  }
}
