<section class="about">
  <div class="container">
    <h2 class="about__title">О нас</h2>
    <div class="about__box">
      <div class="about__content">
        <p class="about__text">
          Мы — команда любящих и заботливых владельцев животных, которые с особым вниманием относятся к потребностям
          и радостям наших пушистых друзей.
        </p>
        <p class="about__text">
          Стремясь к тому, чтобы ваш питомец был здоровым, счастливым и полным энергии, мы предлагаем только лучшие
          товары и услуги, проверенные временем и рекомендованные ветеринарами.
        </p>
      </div>
    </div>
  </div>
</section>
