<section class="advantages">
  <div class="advantages__bg">
    <div class="container">
      <h2 class="advantages__title">Наши преимущества</h2>
      <ul class="advantages__list">
        <li class="advantages__item advantages__item_assortment">
          <h3 class="advantages__subtitle">Широкий ассортимент</h3>
          <p class="advantages__text">
            У нас есть все для того, чтобы сделать жизнь вашего любимца комфортной и уютной.
          </p>
        </li>
        <li class="advantages__item advantages__item_quality">
          <h3 class="advantages__subtitle">Качество и&nbsp;безопасность</h3>
          <p class="advantages__text">
            Мы тщательно отбираем товары для наших клиентов, уделяя особое внимание качеству и безопасности.
          </p>
        </li>
        <li class="advantages__item advantages__item_personal">
          <h3 class="advantages__subtitle">Персональный подход</h3>
          <p class="advantages__text">
            Мы понимаем, что каждый питомец уникален, поэтому предлагаем вам индивидуальные рекомендации по выбору
            товаров.
          </p>
        </li>
      </ul>
    </div>

    <div class="advantages__count-box">
      <p class="advantages__count">10</p>
      <p class="advantages__count-text">магазинов в&nbsp;сети</p>
    </div>
  </div>
</section>
