<section class="subscribe">
  <div class="container">
    <form action="#" class="subscribe__form" method="post">
      <h2 class="subscribe__title">Подпишись на рассылку и узнавай о&nbsp;новинках первым!</h2>
      <fieldset class="subscribe__field">
        <input class="subscribe__input" type="email" name="email" placeholder="E-mail" />
        <button class="subscribe__button" type="submit">
          <span class="subscribe__button-text">Отправить</span>
        </button>
      </fieldset>
    </form>
  </div>
</section>
